h1 {
  text-align: center;
}

body
{
  align-items: center;
  justify-content: center;
  background-image: url("../assets/sprites/background.png");
  background-repeat: repeat;
  background-size: 1625px;
}
